.App {
  text-align: center;
  font-family: monospace;
}

li.showing-fade > h1 {
  padding: 20% 10%
}

li.showing-fade > div {
  padding: 20% 10%
}
h2 {
  color: #e9e90a;
}
li.showing-fade > div > div > strong {
  color: #0ae965;
}



li.showing-fade > div > ul {
  list-style: none;
}

li.showing-fade > div > ul > li {
  line-height: 2em;
}

li.showing-fade > div > ul > li > strong {
  color: #e9e90a;
}

.App-header {
  background-color: #424344;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
